---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  imagePath: string;
  altText: string;
  pagePath: string;
}

const { title, description, imagePath, altText, pagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{avif,jpeg,jpg,png,gif}",
);

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{avif,jpeg,jpg,png,gif}"`,
  );
---

<div class="card">
  <Image src={images[imagePath]()} alt={altText} />
  <div class="text">
    <h4 transition:name={title}>{title}</h4>
    <p transition:name=`${title}-description`>{description}</p>
  </div>
  <a href={pagePath}>Read more</a>
</div>
<style>
  .card {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .text {
    line-height: 1.25;
  }

  .card h4 {
    color: var(--dark-mode-gray);
    font-weight: 800;
    font-size: 1.5rem;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card p {
    color: var(--dark-mode-light-green);
    line-height: 2;
  }

  .text p {
    font-size: 0.875rem;
  }

  .card a {
    width: fit-content;
    text-decoration: none;
    color: var(--dark-mode-white);
    padding: 0.5rem 1rem;
    border: 2px solid var(--dark-mode-dark-green-200);
    font-weight: 500;
  }

  .card a:hover {
    color: var(--dark-mode-dark-green-200);
    background-color: var(--dark-mode-yellow);
    transition: background-color 0.2s ease-in-out;
  }
</style>
